In [79]:
import pandas as pd

import random
import json

import os

In [80]:
path_origin_data = './Tenrec/ctr_data_1M.csv'
path_extraction_data = 'tenrec_dataset.json'

In [81]:
def filter_data_train_with_topk_user(data, selected_user_set):
    new_data = []
    for index, row in data_train.iterrows():
        if row['user_id'] in selected_user_set:
            new_data.append((int(row['user_id']), int(row['item_id']), int(row['click']), int(row['like']), int(row['follow']), int(row['share'])))
        if index % 10000000 == 0:
            print("step = ", index)
    print ("data_row: ", len(data), ", after filter, data_row=", len(new_data))
    return new_data


# write json
def write_data(path, data):
    f = open(path, 'w')
    jsObj = json.dumps(data)
    f.write(jsObj)
    f.close()

In [82]:
cols = ['user_id', 'item_id', 'click', 'like', 'follow', 'share']
raw_data_train = pd.read_csv(path_origin_data, usecols=cols)
raw_data_train

           user_id  item_id  click  follow  like  share
0                1        4      0       0     0      0
1                1     1201      1       0     0      0
2                1   250502      1       0     0      0
3                1    50885      1       0     0      0
4                1    16934      1       0     0      0
...            ...      ...    ...     ...   ...    ...
120342301  1000016  1362512      0       0     0      0
120342302  1000016  1377187      0       0     0      0
120342303  1000016  1353565      0       0     0      0
120342304  1000016    23121      0       0     0      0
120342305  1000016     9150      0       0     0      0

[120342306 rows x 6 columns]

In [83]:
print ("origin data len=", len(raw_data_train))

origin data len= 120342306

In [84]:
data_train = raw_data_train

In [85]:
# 0 data view
print("item num =", len(data_train['item_id'].unique()))

item num = 2310087

In [86]:
data_train['click'].value_counts()

0    91461446
1    28880860
Name: click, dtype: int64

In [87]:
data_train['follow'].value_counts()

0    120162518
1       179788
Name: follow, dtype: int64

In [88]:
data_train['like'].value_counts()

0    118066889
1      2275417
Name: like, dtype: int64

In [89]:
data_train['share'].value_counts()

0    120092217
1       250089
Name: share, dtype: int64

In [90]:
# 1 select 50% user, fill in selected_user_set
user_unique = data_train['user_id'].unique()
user_unique

array([      1,       2,       3, ..., 1000014, 1000015, 1000016])

In [91]:
user_num = len(user_unique)
print ("user_num=", user_num)

user_num= 999447

In [92]:
random.shuffle(user_unique)
user_unique

array([949303, 368327, 468129, ..., 609665, 560518, 400255])

In [93]:
topk = int(user_num/10)
print ("topk=", topk)
selected_user_list = user_unique[:topk]
selected_user_list

topk= 99944

array([949303, 368327, 468129, ...,  55926, 563487, 793237])

In [94]:
selected_user_set = set(selected_user_list)
print ("len(selected_user_set)=",  len(selected_user_set))

len(selected_user_set)= 99944

In [95]:
# 2 use selected_user_set filter data & add list
filter_tenrec_dataset_list = filter_data_train_with_topk_user(data_train, selected_user_set)

step =  0
step =  10000000
step =  20000000
step =  30000000
step =  40000000
step =  50000000
step =  60000000
step =  70000000
step =  80000000
step =  90000000
step =  100000000
step =  110000000
step =  120000000
data_row:  120342306 , after filter, data_row= 12031351

In [96]:
# 3 wirte train data
write_data(path_extraction_data, filter_tenrec_dataset_list)
print ("write success")

write success

In [97]:
# 4 other: analysis filter_tenrec_dataset_list 
path_writed_data = 'tenrec_dataset.json'

In [98]:
with open(path_writed_data) as f:
    line = f.readline()
    data = json.loads(line)
    f.close()
    log_num = len(data)
print("confirm data, log_num=",log_num)
data[:3]

confirm data, log_num= 12031351

[[1, 4, 0, 0, 0, 0], [1, 1201, 1, 0, 0, 0], [1, 250502, 1, 0, 0, 0]]

In [99]:
analysis_data=pd.DataFrame(data, columns=['user_id', 'item_id', 'click', 'like', 'follow', 'share'])
print ("len(analysis_data)=", len(analysis_data))
analysis_data['click'].value_counts()

len(analysis_data)= 12031351

0    9136583
1    2894768
Name: click, dtype: int64

In [100]:
analysis_data['like'].value_counts()

0    11801429
1      229922
Name: like, dtype: int64

In [102]:
analysis_data['follow'].value_counts()

0    12013124
1       18227
Name: follow, dtype: int64

In [103]:
analysis_data['share'].value_counts()

0    12006256
1       25095
Name: share, dtype: int64

In [104]:
analysis_data.head()

   user_id  item_id  click  like  follow  share
0        1        4      0     0       0      0
1        1     1201      1     0       0      0
2        1   250502      1     0       0      0
3        1    50885      1     0       0      0
4        1    16934      1     0       0      0

In [105]:
print("item num =", len(analysis_data['item_id'].unique()))

item num = 920113

In [106]:
print("user num =", len(analysis_data['user_id'].unique()))

user num = 99944